**Import Library**

In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
import joblib

**Import Dataset**

**Load Dataset**

In [ ]:
data = pd.read_csv('weight-height.csv')

In [ ]:
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

**Converting Categorical Values to numerical values**

In [ ]:
data['Gender'] = data['Gender'].apply(lambda x:{'Male' : 1,'Female' : 0}[x])

In [ ]:
data

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

[10000 rows x 3 columns]

**Extracting Prediction and Features values**

In [ ]:
X = data.iloc[:,1:]
y = data.iloc[:,0]

In [ ]:
X

         Height      Weight
0     73.847017  241.893563
1     68.781904  162.310473
2     74.110105  212.740856
3     71.730978  220.042470
4     69.881796  206.349801
...         ...         ...
9995  66.172652  136.777454
9996  67.067155  170.867906
9997  63.867992  128.475319
9998  69.034243  163.852461
9999  61.944246  113.649103

[10000 rows x 2 columns]

In [ ]:
y

0       1
1       1
2       1
3       1
4       1
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: Gender, Length: 10000, dtype: int64

**Splitting data for training and testing**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, 
                                                    random_state = 42)

**Creating Model SVM**

In [ ]:
weight_predictor = LogisticRegression()
weight_predictor.fit(X_train, y_train)

LogisticRegression()

**Check Result**

In [ ]:
weight_predictor.predict(X_test)

array([1, 1, 1, ..., 0, 1, 0])

**Check Accuracy**

In [ ]:
accuracy = weight_predictor.score(X_test, y_test)

In [ ]:
print(f"Akurasi Model : {accuracy*100}%")

Akurasi Model : 92.28%

In [ ]:
expected = y_test
predicted = weight_predictor.predict(X_test)
predicted

array([1, 1, 1, ..., 0, 1, 0])

In [ ]:
expected

6252    0
4684    1
1731    1
4742    1
4521    1
       ..
4862    1
7025    0
7647    0
7161    0
73      1
Name: Gender, Length: 2500, dtype: int64

In [47]:
joblib.dump(weight_predictor, "weight_predictor.pkl")

['weight_predictor.pkl']